@charset "UTF-8";


/*

## スタイルガイド 見出し

説明文は Markdown を使いCSS(sassやless)内に記述できる。

	<section class="section-foo">
		<h1>あのイーハトーヴォの</h1>

		すきとおった風、<br>
		夏でも底に冷たさをもつ青いそら、<br>
		うつくしい森で飾られたモーリオ市、<br>
		郊外のぎらぎらひかる草の波。
	</section>
*/
.section-foo {
	color: blue;
	font-size: 1.2rem;

	> h1 {
		border-radius: 6px;
		padding: 4px;
		background-color: green;
		line-height: 1.26;
		font-size: 1.3rem;
		color: white;
	}
}

/* ## リンクテキスト

	<a href="#" class="link">リンクテキスト</a>

	<br>

	<a href="#" class="link :focus">リンクテキスト :focus</a>

	<br>

	<a href="#" class="link :hover">リンクテキスト :hover</a>
*/
.link {
	&:focus {
		border: 1px dotted black;
		color: red;
	}
	&:hover {
		border-color: transparent;
		color: black;
	}
}
