@charset "UTF-8";


/* ## 見出しレベル 2
### 見出しレベル 3
#### 見出しレベル 4
##### 見出しレベル 5
###### 見出しレベル 6

	<ul class="bar">
		<li>ABCDEFGHIJKLM</li>
		<li>abcdefghijklm</li>
		<li>1234567890</li>
	</ul>

*/
.bar {
	font-family: monospace;
	> li {
		font-size: 1.6rem;
	}
}

/* ## 見出しレベル 2
### 見出しレベル 3
#### 見出しレベル 4
##### 見出しレベル 5
###### 見出しレベル 6

	<ul class="bar">
		<li>ABCDEFGHIJKLM</li>
		<li>abcdefghijklm</li>
		<li>1234567890</li>
	</ul>

*/
.bar {
	font-family: monospace;
	> li {
		font-size: 1.6rem;
	}
}
